<% collapse_id = "collapse#{impression.id}" %>
<div id="<%= dom_id impression %>">
  <div data-controller="copy" class="card m-2">
    <div class="card-header d-flex justify-content-between">
      <div>
        <% impression.tags.each do |tag| %>
          <span class="badge bg-secondary"><%= tag.content %></span>
        <% end %>
      </div>
      <% if impression.detail.present? %>
        <a class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#<%= collapse_id %>" role="button">
          詳細
        </a>
      <% end %>
    </div>
    <div class="card-body">
      <pre><%= impression.summary %></pre>
      <br>
      <div class="collapse <%= "show" if show_detail %>" id="<%= collapse_id %>">
        <pre><%= impression.detail %></pre>
      </div>
      <% if impression.user_show_name? %>
        <div class="fs-small text-end">
          <%= impression.user_name %>
        </div>
      <% end %>
    </div>
  </div>
</div>
