<%= render "multiple_select_modal", title: "タグ検索" do %>
  <div class="container" >
    <%= form_with(url: impressions_tags_path, method: :get, html: {
      data: {
        turbo_frame: "all_tags",
        controller: "form form-replicate-object",
        action: "input->form#submit"
      }
    }) do |form| %>
      <%= form.hidden_field :tag_ids, value: nil, multiple: true, data: { form_replicate_object_target: 'template' } %>
      <%= form.text_field :keyword, class: 'form-control w-100', place_holder: 'タグの一部で検索できます' %>
      <%= turbo_frame_tag "all_tags", class: "js-impression mt-2" do %>
        <%= render partial: 'tags', locals: { container_id: 'all_tags_modal', tags: @tags, impression: @impression, tag_ids: params[:tag_ids] } %>
        <div data-form-replicate-object-target="destination">
          <% (params[:tag_ids] || []).each do |tag_id| %>
            <%= form.hidden_field :tag_ids, value: tag_id, multiple: true %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
