<div class="container js-impression" >
  <div class='mb-3'>
    <%= form_with(url: creators_path, scope: :search, method: :get, html: {
      data: {
        turbo_frame: "creator-list",
        controller: "form",
        action: "input->form#submit"
      }
    }) do |form| %>
      <div class="d-flex w-100 mb-1">
        <%= form.text_field :keyword, class: 'form-control w-100', placeholder: '名前の一部で検索できます', value: @search_params[:keyword] %>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag "creator-list", class: "js-creator-list" do %>
    <div class="d-flex flex-wrap">
      <% @creators.each do |creator| %>
        <% impression = @impressions[creator.id] %>
        <div class="m-1 card">
          <div class="card-body">
            <%= link_to creator_path(id: creator.id, search: { keyword: @search_params[:keyword] }) do %>
              <div class="card-text text-wrap">
                <%= creator.name %>
              </div>
              <%= show_article_image(impression.article) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
