<div class="js-impression">
  <%= link_to "戻る", creators_path %>

  <div class='mb-3'>
    <%= form_with(url: creator_path(@creator), scope: :search, method: :get, html: {
      data: {
        turbo_frame: "article-list",
        controller: "form",
        action: "input->form#submit"
      }
    }) do |form| %>
      <div class="d-flex w-100 mb-1">
        <%= form.text_field :keyword, class: 'form-control w-100', placeholder: '作品名の一部で検索できます' %>
      </div>
    <% end %>
  </div>

  <h6><%= @creator.name %></h6>
  <%= turbo_frame_tag "article-list" do %>
    <div class="d-flex border" >
      <%= paginate @articles %>
    </div>
    <% @articles.each do |article| %>
      <div class="card" id="<%= dom_id article %>">
        <div class="card-body d-flex">
          <%= image_tag(article.image_url) %>
          <div class="text-truncate">
            <%= link_to article.title, creator_article_path(@creator, article), class: 'link-dark text-nowrap' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
