<div class="container js-impression" >
  <%= turbo_frame_tag "impressions" do %>
    <div class="border" >
      <%= paginate @impressions %>
    </div>
    <% @impressions.each do |impression| %>
      <div class="card mb-2" id="<%= dom_id impression %>">
        <div class="card-header">
          <div class="text-truncate">
            <%= link_to impression.article_title, admin_impression_path(impression), class: 'link-dark text-nowrap' %>
          </div>
        </div>
        <div class="card-body">
          <pre><%= impression.summary %></pre>
        </div>
        <div class="card-footer">
          <%= impression.user.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
