<% if impression.errors.any? %>
  <div style="color: red">
    <h2>入力を確認してください</h2>

    <ul>
      <% impression.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(url: update_article_my_page_impressions_path,
              html: {
                data: { controller: "form", action: "input->form#submit" },
                class: 'js-impression mb-2' }) do |form| %>
  <div class="row">
    <div class="col-auto">
      <div>
        <%= form.label :url, 'URL', class: 'form-label' %>
        <span class="badge bg-danger">必須</span>
      </div>
    </div>
    <div class="col-12">
      <%= form.text_field :url, class: 'form-control', value: impression.article_url %>
    </div>
  </div>
<% end %>

<%= form_with(model: [:my_page, impression], html: { class: 'js-impression' }, data: { turbo: false }) do |form| %>
  <div class="row">
    <div class="col-auto">
      <%= form.label :title, 'タイトル', class: 'form-label' %>
    </div>
    <div class="col-auto">
      <span id="article-field">
        <%= render partial: 'article', locals: { article: impression.article } %>
      </span>
    </div>
  </div>

  <div data-controller="input-count">
    <div class="d-flex justify-content-between">
      <div>
        <%= form.label :summary, '一言で', class: 'form-label' %>
        <span class="badge bg-danger">必須</span>
      </div>
      <span data-input-count-target="output"></span>
    </div>
    <div class="row">
      <div class="col-12">
        <%= form.text_area :summary, class: 'form-control', rows: 3, data: { action: 'input->input-count#count', "input-count-target": "content" }, required: true %>
      </div>
    </div>
  </div>

  <div data-controller="input-count">
    <div class="row">
      <div class="d-flex justify-content-between">
        <%= form.label :detail, '存分に', class: 'form-label' %>
        <span data-input-count-target="output"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= form.text_area :detail, class: 'form-control', rows: 10, wrap: :soft, data: { action: 'input->input-count#count', "input-count-target": "content" } %>
      </div>
    </div>
  </div>

  <div class="text-center mt-1">
    <%= form.submit '下書き保存', class: 'btn btn-primary' %>
  </div>
<% end %>
