<div class="container js-impression" >
  <%= render 'header' %>
  <div class="d-flex border" >
    <%= paginate @impressions %>
  </div>
  <div id="impressions">
    <% @impressions.each do |impression| %>
      <div class="card mb-2" id="<%= dom_id impression %>">
        <div class="card-header">
          <div class="text-truncate">
            <%= link_to impression.article_title, my_page_impression_path(impression), class: 'link-dark text-nowrap' %>
          </div>
        </div>
        <div class="card-body">
          <pre class="text-wrap"><%= impression.summary %></pre>
        </div>
      </div>
    <% end %>
  </div>
</div>
